@import 'src/assets/styles/variables';

.login-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $COLOR_PRIMARY_LIGHTEN_4;

  .login-form-container {
    background-color: $COLOR_DEFAULT_WHITE;
    padding: 2rem;
    border-radius: $BORDER_RADIUS;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .login-font-color {
      color: $COLOR_PRIMARY_DARKEN_3;
    }

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
    }


    .title {
      font-size: $FONT_SIZE_SMALL;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      input {
        padding: 0.5rem;
        border: none;
        border-bottom: .1rem solid $COLOR_PRIMARY_DARKEN_3;
        background-color: $COLOR_DEFAULT_WHITE;

        &::placeholder {
          color: $COLOR_DEFAULT_GRAY;
      }
    }

    .login-input-avatar {
      display: none;
    }

    button {
      background-color: $COLOR_PRIMARY_DARKEN_3;
      color: $COLOR_DEFAULT_WHITE;
      padding: .5rem;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    }

    p {
      color: $COLOR_PRIMARY_LIGHTEN_4;
      font-size: $FONT_SIZE_SMALL;
      margin-top: 1rem;
    }
  }
}
