@import 'src/assets/styles/variables';

.register-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $COLOR_DEFAULT_LIGHT;

  .register-form-container {
    background-color: $COLOR_DEFAULT_WHITE;
    padding: 2rem;
    border-radius: $BORDER_RADIUS;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .register-font-color {
      color: $COLOR_DEFAULT_DARK;
    }

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .title {
      font-size: $SMALL_FONT_SIZE;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      input {
        padding: 0.5rem;
        border: none;
        border-bottom: .1rem solid $COLOR_DEFAULT_DARK;
        background-color: $COLOR_DEFAULT_WHITE;

        &::placeholder {
          color: #bdbdbd;
        }
      }

      .register-input-avatar {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        gap: .5rem;

        .add-avatar-img {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }

        span {
          font-size: $SMALL_FONT_SIZE;
          color: $COLOR_DEFAULT_LIGHT;
        }
      }

      button {
        background-color: $COLOR_DEFAULT_DARK;
        color: $COLOR_DEFAULT_WHITE;
        padding: .5rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }

    p {
      color: $COLOR_DEFAULT_LIGHT;
      font-size: $SMALL_FONT_SIZE;
      margin-top: 1rem;
    }
  }
}
