@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.register-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $COLOR_PRIMARY_LIGHTEN_4;

  .register-form-container {
    position: relative;
    background-color: $COLOR_DEFAULT_WHITE;
    padding: 2rem;
    border-radius: $BORDER_RADIUS;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .register-font-color {
      color: $COLOR_PRIMARY_DARKEN_3;
    }

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .title {
      font-size: $FONT_SIZE_SMALL;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      input {
        padding: 0.5rem;
        border: none;
        border-bottom: .1rem solid $COLOR_PRIMARY_DARKEN_3;
        background-color: $COLOR_DEFAULT_WHITE;

        &::placeholder {
          color: #bdbdbd;
        }

        &:focus-visible {
          outline: none;
        }
      }

      .register-input-avatar {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        gap: .5rem;

        .add-avatar-img {
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;
        }

        img {
          cursor: pointer;
        }

        span {
          font-size: $FONT_SIZE_SMALL;
          color: $COLOR_PRIMARY_DARKEN_3;
          cursor: pointer;
        }
      }

      .add-avatar-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add-avatar-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      span.error {
        color: $COLOR_DEFAULT_RED;
        font-size: $FONT_SIZE_SMALL;
        text-align: center;
      }
    }

    p {
      color: $COLOR_DEFAULT_GRAY;
      font-size: $FONT_SIZE_SMALL;
      margin-top: 1rem;
    }
  }
}
