$LIGHT_BLUE: #42a5f5;
$DARKER_BLUE: #0d47a1;
$SMALL_FONT_SIZE: .9rem;

.register-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $LIGHT_BLUE;

  .register-form-container {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .register-font-color {
      color: $DARKER_BLUE;
    }

    .logo {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .title {
      font-size: $SMALL_FONT_SIZE;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      input {
        padding: 0.5rem;
        border: none;
        border-bottom: .1rem solid $DARKER_BLUE;
        background-color: #f5f5f5;

        &::placeholder {
          color: #bdbdbd;
        }
      }

      .register-input-avatar {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        gap: .5rem;

        .add-avatar-img {
          width: 1,5rem;
          height: 1.5rem;
          cursor: pointer;
        }

        span {
          font-size: $SMALL_FONT_SIZE;
          color: $LIGHT_BLUE;
        }
      }

      button {
        background-color: $DARKER_BLUE;
        color: #f5f5f5;
        padding: .5rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }
    }

    p {
      color: $LIGHT_BLUE;
      font-size: $SMALL_FONT_SIZE;
      margin-top: 1rem;
    }
  }
}
