@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.login-wrapper {
  position: relative;
  @include element-shape-frame(null, 100vh, null, null, null);
  @include flex-frame(row, center, center);
  @include gradient-effect-background;

  .login-form-container {
    border-radius: $BORDER_RADIUS;
    @include element-shape-frame(20%, null, null, 2rem, 1rem);
    @include flex-frame(column, null, center);
    @include glass-effect-background;

    @include laptop {
      @include element-shape-frame(30%, null, null, null, null);
    }
    @include tablet {
      @include element-shape-frame(60%, null, null, null, null);
    }
    @include mobile {
      @include element-shape-frame(90%, null, null, null, null);
    }

    form {
      @include flex-frame(column, null, null);
      @include element-shape-frame(80%, null, null, null, 1rem);
    }

    p {
      color: $COLOR_DEFAULT_BLACK;
      font-size: $FONT_SIZE_SMALL;
      margin-top: 1rem;
    }
  }
}
