@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.register-wrapper {
  height: 100vh;
  @include flex-frame(row, center, center);
  @include gradient-effect-background;

  .register-form-container {
    position: relative;
    padding: 2rem;
    border-radius: $BORDER_RADIUS;
    display: flex;
    gap: 1rem;
    width: 20%;
    @include flex-frame(column, null, center);
    @include glass-effect-background;
    @include laptop {
      width: 30%;
    }
    @include tablet {
      width: 60%;
    }
    @include mobile {
      width: 90%;
    }

    form {
      gap: 1rem;
      width: 80%;
      @include flex-frame(column, null, null);

      label {
        gap: .5rem;
        @include flex-frame(column, null, center);

        span {
          font-size: $FONT_SIZE_SMALL;
          color: $COLOR_PRIMARY_DARKEN_3;
          cursor: pointer;
        }
      }

      .add-avatar-wrapper {
        @include flex-frame(row, space-between, center);

        .add-avatar-button-wrapper {
          @include flex-frame(row, flex-start, center);
        }
      }
    }

    p {
      color: $COLOR_DEFAULT_BLACK;
      font-size: $FONT_SIZE_SMALL;
      margin-top: 1rem;
    }
  }
}
