@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.register-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $COLOR_PRIMARY_LIGHTEN_4;

  .register-form-container {
    position: relative;
    background-color: $COLOR_DEFAULT_WHITE;
    padding: 2rem;
    border-radius: $BORDER_RADIUS;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 20%;
    @include laptop {
      width: 30%;
    }
    @include tablet {
      width: 60%;
    }
    @include mobile {
      width: 90%;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 80%;

      label {
        display: flex;
        align-items: center;
        gap: .5rem;

        span {
          font-size: $FONT_SIZE_SMALL;
          color: $COLOR_PRIMARY_DARKEN_3;
          cursor: pointer;
        }
      }

      .add-avatar-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add-avatar-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }
    }

    p {
      color: $COLOR_DEFAULT_GRAY;
      font-size: $FONT_SIZE_SMALL;
      margin-top: 1rem;
    }
  }
}
