@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.home-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $COLOR_PRIMARY_LIGHTEN_4;

  .home-container {
    border: 1px solid $COLOR_DEFAULT_WHITE;
    border-radius: $BORDER_RADIUS;
    width: 80%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @include tablet {
      width: 90%;
    }
  }
}
