@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.sidebar-wrapper {
  flex: 1;
  position: relative;
  max-width: 20rem;
  margin: $DEFAULT_GAP;
  border-radius: $BORDER_RADIUS;
  @include glass-background;
  @include tablet {
    max-width: 63px;
  }
}
