@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

$OWNER_SPEECH_BALLOON_COLOR: #2196f3;
$OWNER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_WHITE;
$OTHER_SPEECH_BALLOON_COLOR: #4db6ac;
$OTHER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_BLACK;

.message-wrapper {
  &.owner {
    flex-direction: row-reverse;

    .balloon-text-wrapper {
      align-items: flex-end;

      p {
        background-color: $OWNER_SPEECH_BALLOON_COLOR;
        border-radius: $BORDER_RADIUS;
      }
    }
  }
}

.balloon-text-wrapper {
  display: flex;
  flex-direction: column;

  p {
    background-color: $OTHER_SPEECH_BALLOON_COLOR;
    padding: $DEFAULT_GAP;
    border-radius: $BORDER_RADIUS;
    max-width: 75%;
    margin: 0;
    position: relative;
    word-wrap: break-word;
    border: 1px solid #212121;
    @include default-shadow;



    &::before,
    &::after {
      bottom: -0.1rem;
      content: "";
      height: 1rem;
      position: absolute;
    }
  }
}

p.owner {
  align-self: flex-end;
  color: $OWNER_SPEECH_BALLOON_TEXT_COLOR;
  @include glass-effect-background;
}

p.from-other {
  color: $OTHER_SPEECH_BALLOON_TEXT_COLOR;
}
