@import 'src/assets/styles/variables';

button {
  background-color: $COLOR_PRIMARY_LIGHTEN_4;
  color: $COLOR_PRIMARY_DARKEN_3;
  font-size: $FONT_SIZE_SMALL;
  border: none;
  padding: 1rem;
  transition: opacity .1s ease, transform .1s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;

  &:disabled {
    background-color: $COLOR_DEFAULT_GRAY;
    color: $COLOR_DEFAULT_WHITE;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:active {
      transform: scale(.9);
    }
  }
}
