@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

.image-avatar {
  background-color: $COLOR_PRIMARY_LIGHTEN_4;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  object-fit: cover;
  @include not-draggable;
}


.clickable-icon {
  cursor: pointer;
  transition: opacity .1s ease, transform .1s ease;
  @include not-draggable;

  &:hover:not(.disabled) {
    opacity: .8;
  }

  &:active:not(.disabled) {
    transform: scale(.9);
  }
}
