@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

input.atomic-input {
  border: none;
  border-bottom: .1rem solid $COLOR_PRIMARY_DARKEN_3;
  background-color: $COLOR_DEFAULT_WHITE;
  @include element-shape-frame(null, null, null, .5rem, null);

  &::placeholder {
    color: $COLOR_DEFAULT_GRAY;
  }

  &:focus-visible {
    outline: none;
  }
}
