@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.molecule-chat-thumbnail-wrapper {
  cursor: pointer;
  transition: opacity .3s ease, transform .3s ease;
  @include flex-frame(row, null, center);
  @include element-shape-frame(null, null, null, 1rem, .5rem);

  &:active {
    opacity: .5;
  }

  &:hover {
    @include user-selected-background;
  }

  .user-chat-info {
    p {
      font-size: $FONT_SIZE_SMALL;
      color: $COLOR_PRIMARY_GREY_LIGHTEN_3;
      @include element-shape-frame(null, null, 0, null, null);
    }

    @include tablet {
      display: none;
    }
  }
}
