@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.molecule-chat-thumbnail-wrapper {
  cursor: pointer;
  transition: opacity .3s ease, transform .3s ease;
  @include flex-frame(null, null, center);
  @include element-shape-frame(null, null, null, 1rem, .5rem);

  &:active {
    opacity: .5;
  }

  &:hover {
    @include user-selected-background;
  }

  .user-info-wrapper {
    flex: 1;
    @include flex-frame(null, null, center);
    @include element-shape-frame(null, null, null, null, .5rem);

    .user-chat-info {
      @include flex-frame(column, null, flex-start);

      @include tablet {
        display: none;
      }
    }
  }
}
