@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.error-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;;
  align-items: center;

  .atomic-text-small {
    width: 100%;
    text-align: center;
  }
}
