@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.error-wrapper {
  width: 100%;
  @include flex-frame(row, flex-start, center);

  .atomic-text-small {
    width: 100%;
    text-align: center;
  }
}
