@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.loading-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  @include element-shape-frame(100%, 100%, null, null, null);
  @include flex-frame(row, center, center);
}

.loading-spinner-container {
  @include flex-frame(column, center, center);
}

.spinner {
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #69f0ae #0000;
  animation: spinner-e04l1k 1s infinite linear;
  @include element-shape-frame(56px, 56px, null, null, null);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  @include element-shape-frame(null, null, 2px, null, null);
}

.spinner::before {
  border-color: #f4ff81 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  @include element-shape-frame(null, null, 9px, null, null);
}

.loading-text {
  color: #ffffff;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
