@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.options-wrapper {
  position: relative;
  @include flex-frame(null, center, center);

  .options-dropdown {
    opacity: 0;
    transition: opacity .1s ease-in-out;
    position: absolute;
    right: 0;
    top: 1.5rem;
    border: 1px solid #212121;
    border-radius: $BORDER_RADIUS;
    @include glass-effect-background(.7);
    @include flex-frame(column, center, center);
    @include element-shape-frame(null, null, null, null, null);
    @include default-shadow;

    &.open {
      opacity: 1;
    }

    .options-item-wrapper {
      padding: .5rem;

      &:hover {
        background-color: rgba(0, 0, 0, .2);
      }
    }

    span.atomic-text-small {
      border-radius: 0.5rem;
    }
  }
}
