@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

$OWNER_SPEECH_BALLOON_COLOR: $COLOR_PRIMARY_DARKEN_3;
$OWNER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_WHITE;
$OTHER_SPEECH_BALLOON_COLOR: $COLOR_DEFAULT_GRAY;
$OTHER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_BLACK;

.message-wrapper {
  display: flex;
  margin-bottom: 2rem;
  gap: .5rem;

  .message-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $COLOR_DEFAULT_GRAY;
    font-weight: 300;

    img {
      @include default-shadow;
    }

    &.left {
      align-items: flex-start;

      img {
        margin-left: 0.4rem;
      }
    }

    &.right {
      align-items: flex-end;

      img {
        margin-right: 0.4rem;
      }
    }
  }
}
