@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

$OWNER_SPEECH_BALLOON_COLOR: $COLOR_PRIMARY_DARKEN_3;
$OWNER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_WHITE;
$OTHER_SPEECH_BALLOON_COLOR: $COLOR_DEFAULT_GRAY;
$OTHER_SPEECH_BALLOON_TEXT_COLOR: $COLOR_DEFAULT_BLACK;

.message-wrapper {
  @include flex-frame(null, null, null);
  @include element-shape-frame(null, null, 0 0 2rem 0, null, .5rem);

  .message-info-wrapper {
    color: $COLOR_DEFAULT_GRAY;
    font-weight: 300;
    @include flex-frame(column, flex-end, null);

    img {
      @include default-shadow;
    }

    &.left {
      @include flex-frame(null, null, flex-start);

      img {
        margin-left: 0.4rem;
      }
    }

    &.right {
      @include flex-frame(null, null, flex-end);

      img {
        margin-right: 0.4rem;
      }
    }
  }
}
