@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.image-avatar-component {
  background-color: $COLOR_PRIMARY_LIGHTEN_4;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  object-fit: cover;
  @include not-draggable;
}
