@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.messages-wrapper {
  padding: 1rem;
  height: calc(100% - 10rem);
  overflow: scroll;
  @include glass-effect-background;
}
