@import 'src/assets/styles/variables';

.chat-info-wrapper {
  height: 2rem;
  padding: 1rem;
  background-color: $COLOR_PRIMARY_DARKEN_3;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .chat-user-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
  }
}

.chat-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .5rem;
}
