@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.input-wrapper {
  position: relative;
  @include flex-frame(row, space-between, center);
  @include element-shape-frame(null, 2rem, null, 1rem, 1rem);

  textarea {
    background-color: $COLOR_DEFAULT_WHITE;
    outline: none;
    color: $COLOR_PRIMARY_DARKEN_3;
    font-size: $FONT_SIZE_DEFAULT;
    resize: none;
    border: 1px solid $COLOR_DEFAULT_GRAY;
    border-radius: $BORDER_RADIUS;
    @include element-shape-frame(100%, null, null, .5rem .5rem 0, null);

    &::placeholder {
      color: $COLOR_DEFAULT_GRAY
    }
  }

  .send-options-wrapper {
    display: flex;
    flex-direction: row;
    @include flex-frame(row, null, null);
    @include element-shape-frame(null, null, null, null, 1rem);

    .send-image-input {
      display: none;
    }

    label {
      img {
        cursor: pointer;
        transition: opacity .1s ease, transform .1s ease;;
        @include flex-frame(row, flex-start, center);
        @include element-shape-frame(2rem, 2rem, null, null, null);
      }

      &:hover {
        opacity: .8;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }

  .error-wrapper {
    position: absolute;
  }
}
