@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';


.add-user-content {
  flex-direction: column;
  @include element-shape-frame(100%, null, null, 1rem 0 0 0, null);

  .search-wrapper {
    @include element-shape-frame(null, null, null, null, 1rem);
    @include flex-frame(row, space-between, center);
  }

  .result-wrapper {
    overflow: scroll;
    @include element-shape-frame(null, 20vh, null, 1rem 0 0 0, null);
    @include flex-frame(column, space-between, null);

    .result-item-wrapper {
      @include element-shape-frame(null, 3rem, 0 0 1rem 0, null, null);
      @include flex-frame(row, space-between, null);

      .user-wrapper {
        @include element-shape-frame(null, null, null, null, .5rem);
        @include flex-frame(row, center, center);
      }

      .user-action-wrapper {
        @include flex-frame(row, center, center);

        button {
          border-radius: $BORDER_RADIUS;
          @include element-shape-frame(100%, null, null, null, null);
        }
      }
    }
  }

  .modal-action-wrapper {
    @include element-shape-frame(100%, null, null, 1rem 0 0 0, null);
    @include flex-frame(row, flex-end, center);

    .clickable-icon {
      img {
        border-radius: 0;
        background-color: $COLOR_DEFAULT_WHITE;
      }
    }
  }
}
