@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.modal-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  @include element-shape-frame(100%, 100%, null, null, null);
  @include flex-frame(row, center, center);

  .modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    @include flex-frame(row, center, center);
    @include element-shape-frame(100%, null, null, 1rem, null);
  }
}
