@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.modal-add-user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .modal-header-wrapper {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: rgba(187, 191, 196);

    .modal-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }

  .content {
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;

    .search-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
    }

    .result-wrapper {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20vh;
      overflow: scroll;

      .result-item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 3rem;
        margin-bottom: 1rem;

        .user-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: .5rem;
        }

        .user-action-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            width: 100%;
            border-radius: $BORDER_RADIUS;
          }
        }
      }
    }

    .modal-action-wrapper {
      padding-top: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .clickable-icon {
        img {
          border-radius: 0;
          background-color: $COLOR_DEFAULT_WHITE;
        }
      }
    }
  }
}
