@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.content-text-wrapper {
  font-size: $FONT_SIZE_SMALL;
  max-height: 50vh;
  overflow-x: scroll;
}

.permissions-action-wrapper {
  position: sticky;
  bottom: 0;
  @include element-shape-frame(100%, null, null, 1rem 0 0 0, 1rem);
  @include flex-frame(row, flex-end, center);
}
