@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.content-text-wrapper {
  font-size: $FONT_SIZE_SMALL;
  max-height: 50vh;
  overflow-x: scroll;
}

.permissions-action-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  padding: 1rem 0 0 0;
}
