@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

div.local-search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    display: none;
  }

  input.atomic-input {
    border-radius: 0.5rem;
  }
}

div.chats-wrapper {
  padding: $DEFAULT_GAP 0 0 0;

  .current-chat-selected {
    background-color: $COLOR_PRIMARY_DARKEN_2;
  }

  .user-chat {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $COLOR_DEFAULT_WHITE;
    cursor: pointer;

    &:hover {
      background-color: $COLOR_PRIMARY_DARKEN_2;
    }

    .user-chat-info {
      @include mobile {
        display: none;
      }
    }
  }
}
