@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.search-wrapper {
  border-bottom: .1rem solid $COLOR_PRIMARY_LIGHTEN_5;

  .search-form {
    padding: 0 1rem;

    input {
      &::placeholder {
        color: $COLOR_PRIMARY_GREY_LIGHTEN_3;
      }
    }
  }
}
