@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

div.local-search-wrapper {
  @include element-shape-frame(100%, null, 0, null, null);
  @include flex-frame(row, center, center);
  @include tablet {
    display: none;
  }

  input.atomic-input {
    border-radius: 0.5rem;
  }
}

div.chats-wrapper {
  @include element-shape-frame(null, null, null, $DEFAULT_GAP 0 0 0, null);

  .standard-user {
    transition: box-shadow .2s ease, transform .2s ease, translateX .2s ease;
    transform: translateX(0rem);
    margin: 0 0 1rem 0;
  }

  .current-chat-selected {
    transform: scale(1) translateX(.6rem);
    border-radius: 1rem;
    @include user-selected-background;
    @include default-shadow;
    @include tablet {
      transform: scale(1.1) translateX(0rem);
    }
  }
}
