@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.navbar-wrapper {
  padding: 1rem;
  gap: $DEFAULT_GAP;
  color: $COLOR_PRIMARY_DARKEN_4 ;
  border-radius: 1rem;
  @include flex-frame(column, center, flex-start);

  div.user {
    gap: .5rem;
    @include flex-frame(row, null, center);

    img {
      width: 3rem;
      height: 3rem;
      min-width: 3rem;
      min-height: 3rem;
      @include tablet {
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
      }
    }

    span.app-name {
      @include tablet {
        display: none;
      }
    }
  }
}
