@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

div.local-search-wrapper {
  @include element-shape-frame(100%, null, 0, null, null);
  @include flex-frame(row, center, center);
  @include tablet {
    display: none;
  }

  input.atomic-input {
    border-radius: 0.5rem;
  }
}

div.chats-wrapper {
  padding: $DEFAULT_GAP 0 0 0;

  .standard-user {
    transition: transform .5s ease;
    margin: 0 0 1rem 0;
  }

  .current-chat-selected {
    transform: scale(1.04);
    @include user-selected-background;
  }

  .user-chat {
    color: $COLOR_DEFAULT_WHITE;
    cursor: pointer;
    @include flex-frame(row, null, center);
    @include element-shape-frame(null, null, null, 1rem, .5rem);

    .user-chat-info {
      @include mobile {
        display: none;
      }
    }
  }
}
