@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.navbar-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  background-color: $COLOR_PRIMARY_DARKEN_4;
  color: $COLOR_PRIMARY_LIGHTEN_4 ;
  @include tablet {
    flex-direction: column;
    height: 2rem;
  }

  span.app-name {
    font-weight: bold;
    text-transform: uppercase;
    @include tablet {
      display: none;
    }
  }

  div.user {
    display: flex;
    align-items: center;
    gap: .5rem;

    span.current-user-name {
      @include tablet {
        display: none;
      }
    }

    img {
      @include tablet {
        width: 3rem;
        height: 3rem;
      }
    }

    button {
      background-color: $COLOR_PRIMARY_LIGHTEN_4;
      color: $COLOR_PRIMARY_DARKEN_3;
      font-size: $FONT_SIZE_SMALL;
      border: none;
      padding: .5rem;
      @include tablet {
        width: 85%;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
      }
    }
  }
}
