@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin not-draggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@mixin gradient-effect-background {
  background: #5652ff;
  background: -webkit-linear-gradient(158deg, #5652ff 0%, #74f0ac 100%);
  background: linear-gradient(158deg, #5652ff 0%, #74f0ac 100%);
}

@mixin glass-effect-background($alpha: 0.1) {
  background: rgba(255, 255, 255, $alpha);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

@mixin default-shadow {
  box-shadow: 1px 2px 3px 0 #212121;
}

@mixin flex-frame(
  $direction: null,
  $justifyContent: null,
  $alignItems: null
) {
  display: flex;
  @if $direction != null {
    flex-direction: $direction;
  }
  @if $justifyContent != null {
    justify-content: $justifyContent;
  }
  @if $alignItems != null {
    align-items: $alignItems;
  }
}

@mixin element-shape-frame(
  $width: null,
  $height: null,
  $margin: null,
  $padding: null,
  $gap: null,
) {
  @if $width != null {
    width: $width;
  }
  @if $height != null {
    height: $height;
  }
  @if $margin != null {
    margin: $margin;
  }
  @if $padding != null {
    padding: $padding;
  }
  @if $gap != null {
    gap: $gap;
  }
}
