@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin not-draggable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@mixin background-style {
  background: #474bff;
  background: -webkit-linear-gradient(167deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(167deg, #474bff 0%, #bc48ff 100%);
}

@mixin glass-background {
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
