$COLOR_PRIMARY_LIGHTEN_5: #e3f2fd;
$COLOR_PRIMARY_LIGHTEN_4: #bbdefb;
$COLOR_PRIMARY_LIGHTEN_3: #90caf9;
$COLOR_PRIMARY_DARKEN_3: #1565c0;
$COLOR_PRIMARY_DARKEN_4: #0d47a1;
$COLOR_DEFAULT_WHITE: #f5f5f5;
$COLOR_DEFAULT_BLACK: #212121;
$COLOR_DEFAULT_GRAY: #bdbdbd;
$COLOR_PRIMARY_GREY_LIGHTEN_3: #eeeeee;
$COLOR_DEFAULT_RED: #ff1744;

$FONT_SIZE_SMALL: .9rem;
$FONT_SIZE_DEFAULT: 1rem;
$FONT_SIZE_BIG: 1.5rem;
$BORDER_RADIUS: .5rem;

$DEFAULT_GAP: 1rem;


