$COLOR_DEFAULT_DARK: #1565c0;
$COLOR_DEFAULT_DARK_INDIGO: #0d47a1;
$COLOR_DEFAULT_LIGHT: #bbdefb;
$COLOR_DEFAULT_WHITE: #f5f5f5;
$COLOR_DEFAULT_GRAY: #bdbdbd;
$COLOR_DEFAULT_LIGHT_GRAY: #eeeeee;

$SMALL_FONT_SIZE: .9rem;
$BORDER_RADIUS: 1rem;

